n8n-workflow.json
{
  "name": "Claude Wake Scheduler - Adelaide",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger (Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 250]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 6 * * *" }],
          "timezone": "Australia/Adelaide"
        }
      },
      "id": "cron-0630",
      "name": "Schedule: 6:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 350]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 11 * * *" }],
          "timezone": "Australia/Adelaide"
        }
      },
      "id": "cron-1130",
      "name": "Schedule: 11:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 450]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 16 * * *" }],
          "timezone": "Australia/Adelaide"
        }
      },
      "id": "cron-1630",
      "name": "Schedule: 4:30 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 550]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 21 * * *" }],
          "timezone": "Australia/Adelaide"
        }
      },
      "id": "cron-2130",
      "name": "Schedule: 9:30 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 650]
    },
    {
      "parameters": {
        "command": "=claude --continue -p \"Ping: Session alive. Current time: $(date). Summarize last task if any.\""
      },
      "id": "exec-wake",
      "name": "Execute: Wake Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "notEqual",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-error",
      "name": "Check Exit Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 450]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss z') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.exitCode === 0 ? 'SUCCESS ✓' : 'FAILED ✗' }}",
              "type": "string"
            },
            {
              "id": "output",
              "name": "output",
              "value": "={{ $json.stdout || $json.stderr || 'No output' }}",
              "type": "string"
            },
            {
              "id": "exitCode",
              "name": "exitCode",
              "value": "={{ $json.exitCode }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "format-log",
      "name": "Format Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [940, 350]
    },
    {
      "parameters": {
        "operation": "append",
        "fileName": "/app/logs/n8n-executions.log",
        "text": "={{ $json.timestamp }} | {{ $json.status }} | Exit: {{ $json.exitCode }}\nOutput: {{ $json.output }}\n========================================\n"
      },
      "id": "write-log",
      "name": "Write to Log File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1160, 350]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID_HERE",
        "text": "=⚠️ **Claude Wake FAILED**\n\n🕐 Time: {{ $('Format Log Entry').item.json.timestamp }}\n❌ Exit Code: `{{ $('Format Log Entry').item.json.exitCode }}`\n\n📝 Output:\n```\n{{ $('Format Log Entry').item.json.output.substring(0, 500) }}\n```\n\n🔍 Full logs: `/app/logs/n8n-executions.log`",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 550],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger (Test)": {
      "main": [[{ "node": "Execute: Wake Claude", "type": "main", "index": 0 }]]
    },
    "Schedule: 6:30 AM": {
      "main": [[{ "node": "Execute: Wake Claude", "type": "main", "index": 0 }]]
    },
    "Schedule: 11:30 AM": {
      "main": [[{ "node": "Execute: Wake Claude", "type": "main", "index": 0 }]]
    },
    "Schedule: 4:30 PM": {
      "main": [[{ "node": "Execute: Wake Claude", "type": "main", "index": 0 }]]
    },
    "Schedule: 9:30 PM": {
      "main": [[{ "node": "Execute: Wake Claude", "type": "main", "index": 0 }]]
    },
    "Execute: Wake Claude": {
      "main": [[{ "node": "Check Exit Code", "type": "main", "index": 0 }]]
    },
    "Check Exit Code": {
      "main": [
        [{ "node": "Format Log Entry", "type": "main", "index": 0 }],
        [
          { "node": "Send Telegram Alert", "type": "main", "index": 0 },
          { "node": "Format Log Entry", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Log Entry": {
      "main": [[{ "node": "Write to Log File", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "tags": [],
  "pinData": {}
}